.content{
    width: 100%;
}

.main{
    background-color: white;
    height: 100vh;
    align-items: center;
}

.splash{
    margin: 15% 10% 0% 10%;
}

.name{
color: #060606;
}

.dot{
    color: #E70E24;
}

.slogan{
    color: #060606;
    margin: 10% 0% 0% 5%;
    font-size: 4rem;
}

.splashImage{
    height: 50%;
    width: 60%;
    margin: 4% 0% 0% 15%;
    object-fit: contain;
}

.signup{
    padding: 0%;
    margin: 0%;
}