.content{
    padding: 0%;
    margin: 0%;
}

.signupTitle{
    text-align: center;
    margin-top: 5%;
    color: #ffffff;
}

.toggleButton{
    margin-top: 10%;
    text-align: center;
    font-size: 1.5em;
}

.signupToggleButton{
    color:#060606;
    cursor: pointer;
    padding: 0% 0% 1% 0%;
    border-bottom: 5px solid #ffffff;
}

.signinToggleButton{
    color:#060606;
    cursor: pointer;
}

.formContainer{
   text-align: center;
   margin: 5% 0% 0% 0%;
}

.input,.submitButton{
    height: 50px;
    width: 400px;
    border-radius: 50px;
    padding: 2%;
    font-size: 1.2em;
    border: none;
    outline: none;
    text-align: center;
    margin: 1%;
}

.submitButton {
    height: 50px;
    width: 150px;
    color: #ffffff;
    background-color: #060606;
    padding: 1%;
}

.validation-message{
    color: #ffffff;
}