<div class="row content">
<div class="col-2 col-sm-5 col-md-2 sidebar">
    <div class="profileDetails">
        <img src="assets/images/profilepic.png" class="rounded-circle" alt="Cinque Terre" width="50" height="50">
        <h6 class="name">John Doe</h6>
        <span class="accompletion">12/20</span>
        <div class="progress">
                <div class="progress-bar bar"></div>
         </div>
         <!-- <div class="details">
         <h6 class="data"><span class="completed">12</span><span class="remaining">8</span><span class="total">20</span></h6>
         <span class="activity1">Completed</span>
         <span class="activity2">Todo</span>
         <span class="activity3">All</span>
        </div> -->
    </div>
</div>
<div class="col-10 col-sm-7 col-md-10 list">

</div>
</div>
