<div class="row content">
<div class="col-4 col-lg-2 col-md-3 sidebar">
    <div class="profileDetails">
        <img src="assets/images/profilepic.png" class="rounded-circle" alt="Cinque Terre" width="50px" height="50px">
        <h6 class="name">John Doe</h6>
        <span class="accompletion">15/20</span>
        <div class="progress">
                <div class="progress-bar bar"></div>
         </div>
         <div class="row details">
            <div class="col completed">
                <b>15</b><br>
                <span class="activity">Completed</span>
            </div>
            <div class="col remaining">
                <b>5</b><br>
                <span class="activity">Todo</span>
            </div>
            <div class="col total">
                <b>134</b><br>
                <span class="activity">All</span>
            </div>
        </div>
    </div>
    <div class="menu">
        <button class="todo" (click)="routing('todo')">
        <i class="fa fa-bars todoIcon"></i>&nbsp;&nbsp;
        <span class="todoItem">Todo</span>
    </button>
    <br>
    <button class="events" (click)="routing('events')">
        <i class="fa fa-calendar eventsIcon"></i>&nbsp;&nbsp;
        <span class="eventsItem">Events</span>
    </button>
    <br>
    <button class="notes" (click)="routing('notes')">
        <i class="fa fa-sticky-note notesIcon"></i>&nbsp;&nbsp;
        <span class="notesItem">Notes</span>
    </button>
    <br>
    <button class="news" (click)="routing('news')">
        <i class="fa fa-newspaper-o newsIcon"></i>&nbsp;&nbsp;
        <span class="newstem">News</span>
    </button>
    </div>
    <div class="signout">
            <i class="fa fa-sign-out signoutIcon" title="signout"></i>
    </div>
</div>
<div class="col-8 col-lg-9 col-md-8 list">
<app-todo *ngIf = "this.toggle === 'todo'"></app-todo>
<app-events *ngIf = "this.toggle === 'events'"></app-events>
<app-notes *ngIf = "this.toggle === 'notes'"></app-notes>
<app-news *ngIf = "this.toggle === 'news'"></app-news>
</div>
</div>
