.content{
    width: 100vw;
    padding: 0%;
    margin: 0%;
}
.list{
    padding: 0%;
    margin: 0%;
    width: 100vw;
}

.sidebar{
    background-color:#353C44;
    height: 100vh;
    padding: 0%;
    margin: 0%;
}

.profileDetails{
    text-align: center;
    margin: 15% 0% 0% 0%;
}

.name{
    color: #ffffff;
    margin: 5% 0% 10% 0%;
}
.accompletion{
 color: #ECEBED;
 font-size: 0.5em;
 margin: 5% 5% 0% 70%;
}
.progress{
    width: 80%;
    margin: 0% 10% 0% 10%;
    height: 5px;
    border-radius: 50px;
}

.bar{
    width: 75%;
    background-color:tomato;
}

.details{
    text-align: left;
    margin:  20% 5% 0% 5%;
    color: #ffffff;
}


/* .data{
    margin:0%;
} */
.completed
{
    text-align: center;
}
.remaining{
    text-align: center;
}

.total{
    text-align: center;
}

 .activity{
    margin:0%;
    font-size: .7em;
}

.menu{
text-align:center;
margin:25% 0% 0% 0%;
}

.todo,.events,.notes,.news{
    width: 75%;
    outline: none;
    border: none;
    margin: 5%;
    border-radius: 50px;
    background-color: #2C3335;
    color: #ffffff;
    padding:1% 0% 1% 0%;
    cursor: pointer;
}

.todoIcon{
    color: #25CCF7;
}

.eventsIcon{
    color:#2ecc72;
}

.notesIcon{
    color:#F4C724;
}

.todo:hover{
    background-color: #FF3031;
}

.events:hover{
    background-color: #FF3031;
}

.notes:hover{
    background-color: #FF3031;
}

.news:hover{
    background-color: #FF3031;
}

.signout{
align-items: baseline;
text-align: right;
margin:20% 5% 0% 0%;
}

.signoutIcon{
    font-size: 2em;
    color: #DAE0E2;
    cursor: pointer;
}

.signoutIcon:hover{
    color: #FF3031;
}