.content{
    background-color:  #47535E;
    height: 100vh;
    text-align: center;
}

.input{
margin-top: 3%;
/* height: 33px; */
width: 40%;
border-radius: 50px;
outline: none;
border: none;
padding: 1% 2% 1% 2%;
background-color: #353C44;
color: #ffffff;
}

.search{
    display: flexbox;
    font-size: 1em;
    margin: 0% 0% 0% 2%;
    outline: none;
    width: 3%;
    height: 35px;
    background-color: #ffffff;
    color:tomato;
    border:none;
    cursor: pointer;
    border-radius: 50px;
}

.search:hover{
    background-color: tomato;
    color:#ffffff;
}

.list{
    background-color: #ffffff;
    height: 50%;
    width: 80%;
    margin: 10%  10% 3% 10%;
    /* background-color: #353C44; */
    background-color: transparent;
    overflow-x: scroll;
}

::-webkit-scrollbar { 
    display: none; 
}

.disable-scrollbars {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
  }

 
